* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #000 url('../imagenes/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.contenedor {
    margin: auto;
    /*margin: 20px;*/
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

header .menu a {
    color: #fffff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

header .menu a:hover {
    /*Son parecidos ambos estilos*/
    /*text-decoration: underline;*/
    border-bottom: 2px solid #fff;
}

.main {
    background: #f2feee;
    padding: 20px;
    width: 70%;
    display: flex;
    /*-ms-align-items: center;
    align-items: center;
    justify-content: space-between;
*/}

article {
    width: 100%;
}

article h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}

article table tr th {
    border-radius: 2px solid rbga(255, 255, 255, .11);
}

 article table {
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}


 article table th ,td {
    padding: 10px 20px;
}

article table th {
    background: #009ddc;
    color: #fff;
}

article table tr:hover {
    background: #e5e5e5;
}

aside {
    width: 30%;
    background: #597dca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside .ad {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    background: #4264a2;
    /*margin: 20px 0;*/
}