* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #000 url('../imagenes/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.contenedor {
         margin: auto;
    /*margin: 20px;*/
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

header .menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

header .menu a:hover {
    /*Son parecidos ambos estilos*/
    /*text-decoration: underline;*/
    border-bottom: 2px solid #fff;
}

.main {
    background: #f2f2f2;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.main article {
    width: 100%;
}

.main article h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
}

.main article table tr th {
    border-radius: 2px solid rbga(255, 255, 255, .11);
}

.main article table {
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.main article table th,
th {
    padding: 10px 20px;
}

.main article table th{
    background: #009ddc;
    color: #fff;
}

.main article table tr:hover {
    background: #e5e5e5;
}

aside {
    width: 20%;
    background: #597dca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside .ad {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    background: #4264a2;
    /*margin: 20px 0;*/
}

footer {
    margin-top: 20px;
    background: rgba(255, 255, 255, .5);
    padding: 20px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

footer .redes-sociales a {
    color: #fff;
    text-decoration: underline;
    margin-left: 20px:
}

footer .redes-sociales a:hover {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .main {
        width: 100%;
    }
    table{

overflow-x: auto;

    }
    aside {
        width: 100%;
        flex-direction: row;
    }

    aside .ad {
        width: 40%;
    }
}

@media screen and (max-width: 640px) {
     .main article table {
width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .autor {
        order: 2;
    }

    footer .redes-sociales {
        order: 1;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu {
        width: 100%;
        background: rgba(255, 255, 255, .2);
        text-align: center;
        padding: 20px;
    }

    header .menu:hover {

        background: rgba(255, 255, 255, .10);
    }

    header .menu a {
        margin: 0 20px;
        font-size: 20px;
    }

    header .menu a:hover {
        border: 0.1 solid rgba(255, 255, 255, 1.2);
        border-radius: 10px;
        background: rgba(255, 255, 255, .10);
    }

    header .logo {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .autor {
        order: 2;
    }

    footer .redes-sociales {
        order: 1;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    aside {
        display: none;
    }
}